# Durable Task Scheduler
ENDPOINT=http://localhost:8080
TASKHUB=default

# Azure Container Apps sandboxes
ACA_SUBSCRIPTION=<azure-subscription-id>
ACA_RESOURCE_GROUP=<resource-group>
ACA_SANDBOX_GROUP=<sandbox-group>
ACA_REGION=westus2
